$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;
$div-space:20px;
$text-space:10px;

div {
  border: solid $color-primary 1px;
  text-align: center;
  margin: $div-space;
  padding: $div-space;

  h1 {
    text-decoration: underline $color-secondary;
    color: $color-tertiary;
  }

  section {
    display: inline-flex;
  }

  article {
    

    .even {
      color: $color-secondary;
      padding: $text-space;
      border: solid $color-tertiary 1px;
    }

    .odd {
      color: $color-primary;
      padding: $text-space;
      border: solid $color-tertiary 1px;
    }
  }
}
