* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.articolo-pari {
  color: red;
  border-color: green;
  font-size: 1rem;
}

.articolo-dispari {
  color: blue;
  border-color: green;
  font-size: 1rem;
}

.ultimo-articolo {
  color: green;
  border-color: blue;
  font-size: 1.5rem;
}

.upper-blocks {
  display: flex;
  margin: 1.25rem;
  margin: 0;
}

.container {
  border: solid red;
  padding: 1.25rem;
}
.container .title, .container .title_small {
  text-decoration: underline blue;
  text-align: center;
  color: green;
}
.container .title_small {
  padding: 1rem;
  border: solid red;
}

article {
  border: solid;
  padding: 1.25rem;
}

.numeri {
  display: flex;
  margin: 0;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.numeri div:nth-child(1) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #0d0d0d;
  background-color: #f2f2f2;
}
.numeri div:nth-child(2) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #1a1a1a;
  background-color: #e6e6e6;
}
.numeri div:nth-child(3) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #262626;
  background-color: #d9d9d9;
}
.numeri div:nth-child(4) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #333333;
  background-color: #cccccc;
}
.numeri div:nth-child(5) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #404040;
  background-color: #bfbfbf;
}
.numeri div:nth-child(6) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #4d4d4d;
  background-color: #b3b3b3;
}
.numeri div:nth-child(7) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #595959;
  background-color: #a6a6a6;
}
.numeri div:nth-child(8) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #666666;
  background-color: #999999;
}
.numeri div:nth-child(9) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #737373;
  background-color: #8c8c8c;
}
.numeri div:nth-child(10) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: red;
  background-color: blue;
}
.numeri div:nth-child(11) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #8c8c8c;
  background-color: #737373;
}
.numeri div:nth-child(12) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #999999;
  background-color: #666666;
}
.numeri div:nth-child(13) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #a6a6a6;
  background-color: #595959;
}
.numeri div:nth-child(14) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #b3b3b3;
  background-color: #4d4d4d;
}
.numeri div:nth-child(15) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #bfbfbf;
  background-color: #404040;
}
.numeri div:nth-child(16) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #cccccc;
  background-color: #333333;
}
.numeri div:nth-child(17) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #d9d9d9;
  background-color: #262626;
}
.numeri div:nth-child(18) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #e6e6e6;
  background-color: #1a1a1a;
}
.numeri div:nth-child(19) {
  width: 45px;
  height: 45px;
  border: solid red;
  color: #f2f2f2;
  background-color: #0d0d0d;
}
.numeri .fs-1rem {
  font-size: 1rem;
}
.numeri .fs-2rem {
  font-size: 2rem;
}
.numeri .fs-3rem {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
