@use "variables.scss";
@use "functions.scss";

$cherry-color: variables.$cherry-color;
$grass-color: variables.$grass-color;
$sea-color: variables.$sea-color;
$spacing: variables.$spacing;
$font-last-block: variables.$font-last-block;
$main-font: variables.$main-font;
$number-spacing: variables.$number-spacing;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin odd-article {
  color: $cherry-color;
  border-color: $grass-color;
  font-size: $main-font;
}

@mixin even-article {
  color: $sea-color;
  border-color: $grass-color;
  font-size: $main-font;
}

@mixin last-article {
  color: $grass-color;
  border-color: $sea-color;
  font-size: functions.to-rem($font-last-block);
}

.articolo-pari {
  @include odd-article();
}

.articolo-dispari {
  @include even-article();
}

.ultimo-articolo {
  @include last-article();
}

.upper-blocks {
  display: flex;
  margin: functions.to-rem($spacing);
  margin: 0;
}

.container {
  border: solid $cherry-color;
  padding: functions.to-rem($spacing);
  & .title {
    text-decoration: underline $sea-color;
    text-align: center;
    color: $grass-color;
    &_small {
      @extend .title;
      padding: 1rem;
      border: solid $cherry-color;
    }
  }
}

article {
  border: solid;
  padding: functions.to-rem($spacing);
}

.numeri {
  display: flex;
  margin: 0;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  @for $i from 1 through 19 {
    div:nth-child(#{$i}) {
      width: $number-spacing;
      height: $number-spacing;
      border: solid $cherry-color;
      @if $i==10 {
        color: red;
        background-color: blue;
      } @else {
        color: lighten(black, ($i * 5%));
        background-color: darken(white, ($i * 5%));
      }
    }
  }

  @each $styles, $big in (1rem: 1rem, 2rem:2rem, 3rem: 3rem) {
    .fs-#{$styles} {
      font-size: $big;
    }
  }
}
