.navbar-style {
    background-color: rgb(56, 52, 95);
    color: white;
    display: inline-block;
    width: 100%;
}

h3 {
    display: inline-block;
}

a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

h2{
    padding: 10px;
    display: inline-block;
}

select {
    height: 0%;
    width: 3%;
    display: inline-block;
    background-color: rgb(56, 52, 95);
    color: white;
}

div
{
display: inline-block;
}

.inputset {
    height: 30px;
    padding-left: 10px;
    border-radius: 8%;
    display: inline-block;
}

.buttonset {
    height: 35px;
    background-color: rgb(56, 52, 95);
    color: yellowgreen;
    border-color: yellowgreen;
    border-radius: 20%;
    display: inline-block;
}