:root{
 --black: #011212;
 --orange: #ff8800;
}

body {
    background-color: var(--black);
}

.ball {
    width: 100px;
    height: 100px;
    background-color: var(--orange);
    border-radius: 50px;
}
