@mixin set-article($border-color:green, $font-size:1rem, $color:green) {
border-color:$border-color;
font-size: $font-size;
color: $color;
}

.articolo-pari{
@include set-article($color: red)

}

.articolo-dispari{
@include set-article($color: blue)
}

.ultimo-articolo{
@include set-article($border-color: blue, $font-size: 24px)
}

.upper-blocks{
    display: inline-flex;
    margin: 20px;
}

.container{
    border: solid red;
    padding: 20px;
}

article{
    border: solid;
    padding: 20px;
}

h1{
    text-decoration: underline blue;
    text-align: center;
    color: green;
}
