@use "variables.scss";
$cherry-color: variables.$cherry-color;
$grass-color: variables.$grass-color;
$sea-color: variables.$sea-color;
$spacing: variables.$spacing;
$font-last-block: variables.$font-last-block;
$main-font: variables.$main-font;

@function to-rem($value) {
  $rem-value: ($value/16) + rem;
  @return $rem-value;
}

@mixin odd-article {
  color: $cherry-color;
  border-color: $grass-color;
  font-size: $main-font;
}

@mixin even-article {
  color: $sea-color;
  border-color: $grass-color;
  font-size: $main-font;
}

@mixin last-article {
  color: $grass-color;
  border-color: $sea-color;
  font-size: to-rem($font-last-block);
}

.articolo-pari {
  @include odd-article();
}

.articolo-dispari {
  @include even-article();
}

.ultimo-articolo {
  @include last-article();
}

.upper-blocks {
  display: inline-flex;
  margin: to-rem($spacing);
}

.container {
  border: solid $cherry-color;
  padding: to-rem($spacing);
  & .title {
    text-decoration: underline $sea-color;
    text-align: center;
    color: $grass-color;
    &_small {
      @extend .title;
      padding: 1rem;
      border: solid $cherry-color;
    }
  }
}

article {
  border: solid;
  padding: to-rem($spacing);
}
