@use "variables.scss";
@use "functions.scss";

$cherry-color:variables.$cherry-color;
$grass-color:variables.$grass-color;
$sea-color:variables.$sea-color;
$spacing:variables.$spacing;
$font-last-block:variables.$font-last-block;
$main-font:variables.$main-font;


@mixin odd-article {
    color: $cherry-color;
    border-color: $grass-color;
    font-size: $main-font;
}

@mixin even-article{
    color: $sea-color;
    border-color: $grass-color;
    font-size: $main-font;

}

@mixin last-article{
    color: $grass-color;
    border-color: $sea-color;
    font-size: functions.to-rem($font-last-block);

}

.articolo-pari{
    @include odd-article(); 
}

.articolo-dispari{
    @include even-article();
}

.ultimo-articolo{
    @include last-article();
}

.upper-blocks{
    display: inline-flex;
    margin: functions.to-rem($spacing);
}

.container{
    border: solid $cherry-color;
    padding: functions.to-rem($spacing);
}

article{
    border: solid;
    padding: functions.to-rem($spacing);
}

h1{
    text-decoration: underline $sea-color;
    text-align: center;
    color: $grass-color;
}
